body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #fff;
  font-family: "segoe UI", "Arial", sans-serif;
}

/* HERO SECTION */
.hero {
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(to right, #000, #333);
  color: white;
  text-align: center;
  background-image: url("https://tensketch.com/assets/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

.hero-h1 {
  font-size: 52px;
  font-weight: 900;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.hero-paragraph {
  font-size: 18px;
}

.hero-btn {
  margin-top: 30px;
  padding: 10px 30px;
}

/* OFFERS SECTION */
.offer-card {
  background: #fff;
  box-shadow: 0px 0px 10px #aaa;
  border-radius: 10px;
  margin-bottom: 20px;
}

.offer-section {
  margin-top: 80px;
}

.col-md-4 {
  padding: 20px;
}

.offer-h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

/* WHY CHOOSE US */
.why-us {
  background: #222;
  color: #fff;
  padding: 80px 0;
  margin-top: 80px;
}

.why-us-title {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.col-md-3 {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

/* TESTIMONIALS     */
.testimonial {
  margin-top: 80px;
}
.testimonial-title {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}
.testi-box {
  border-left: 4px solid #d4af37;
  padding: 15px;
  background-color: #fff6e5;
}
/* CALL TO ACTION */
.btn-custom {
  background-color: #d4af37;
  color: white;
}

.highlight {
  color: #d4af37 !important;
  font-weight: bold;
}

.CTA {
  background: #d4af37;
  color: white;
  padding: 60px 20px;
  margin-top: 80px;
  text-align: center;
}
.CTA-title {
  font-size: 34px;
}
.CTA-text {
  margin: 20px 0;
}

/* FOOTER*/
.footer-section {
  background: #111;
  color: #ccc;
  padding: 30px 10px;
  margin-top: 40px;
}
